
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.admin-created-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
}

button {
    margin-top: 10px;
}

/* Style for the container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container fill the entire viewport height */
}

/* Style for the form */
.registration-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional styles as needed */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
